*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  input
  {
    position: relative;
    display: inline-block;
    font-size: 20px;
    transition: 0.5s;
    box-sizing: border-box;
  }
  input[type="text"]
  {
    background: orangered;
    padding: 10px 30px;
    border-radius: 40px;
    color: white;
  }
  input[type="submit"]
  {
    position: relative;
    border-radius: 40px;
    width: 250px;
    height: 70px;
    cursor: pointer;
    outline: none;
    border: none;
    background: orangered;
    color: white;
  }
  input[type="reset"]
  {
    position: relative;
    border-radius: 40px;
    width: 250px;
    height: 70px;
    cursor: pointer;
    outline: none;
    border: none;
    background: orangered;
    color: white;
  }
  input[type="radio"]
  {
    position: relative;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  input[type="button"]
  {
    position: relative;
    border-radius: 40px;
    width: 250px;
    height: 70px;
    cursor: pointer;
    outline: none;
    border: none;
    background: orangered;
    color: white;
  }
  input[type="checkbox"]
  {
    position: relative;
    border-radius: 40px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  textarea
  {
    font-size:medium;
    outline: none;
    width: 40px;
    border-radius: 40px;
    background-color: orangered;
    color: white;
    padding: 50px 150px;
    border: 10px solid transparent;
    float:inline-end;
  }
  h1
  {
    background-color: orangered;
    color: white;
  }
  body
  {
    color: orangered;
  }